
body {
	width: 70%;
	margin: auto;
	text-align: center;
}
/* MENU */
nav ul li {
	display: block;
	list-style: none;
	float: left;
	padding : 1%;
}
nav a {
	text-decoration: none;
	color: black;
}
/* FOOTER */
footer ul li {
	display: block;
	float: left;
	padding: 1%;
	list-style: none;
}
footer a {
	text-decoration: none;
	color: black;
}

/* TEXT */
.visibilite {
	font-style: italic;
	font-weight: bold;
}
