div.miniature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.contener_bd {
  width: 210px;
}
div.image {
	width: 200px;
	height: 300px;
	background-color: @blue;
	margin: auto;
}
div.image .fanion {
	position: relative;
	bottom: 1px;
	right : 49px;
}

div.terminee {
	border: 0.4em solid @yellow;
}
div.description {
	color : @green;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 2%;
}
div.boutonLire {
	width: 80%;
	height: 20%;
	opacity: 0;
	background-color: @black;
	border: none;
	margin-top: 50%;
}
div.boutonLire a {
	color: @white;
}
div.boutonLire:hover {
	opacity: 1;
}
