/* MINIATURES */
div.miniature {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
div.contener_bd {
	width: 210px;
}
div.image {
	width: 198px; height: 280px;
	background: @blue;
	border: 5px solid @blue;
	margin: auto;
}

/* Si l'état de la BD est 'terminee' */
div#terminee {
	border-color: @orange;
}

div.etats_case {
	text-align: left;
	width: 500px;
}

.fanion {
	display: inline-block;
	height: 0; width: 0;
	position: relative;
	bottom: 6px; right : 49px;
	border-right: 100px solid transparent;
}
#vide {
	border-top: 100px solid @green;
}
#reserve {
	border-top: 100px solid @orange;
}

div.description {
	color : @green;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 2%;
}
div.boutonLire {
	width: 80%;
	height: 20%;
	opacity: 0;
	background-color: @black;
	border: none;
	margin-top: 50%;
}
div.boutonLire a {
	color: @white;
}
div.boutonLire:hover {
	opacity: 1;
}
div.indications {
	width: 70%;
	padding: 20px 0px; margin: auto;
	display: flex; flex-direction: row;
	justify-content: space-around;
	background-color: @white;
}
div.legendes_text {
	width: 350px;
	position: relative;
	left: 90px; bottom: 90px;
}
