/* CASCADES */
	@import "menu_style.less";
	@import "dropdown.less";
	@import "miniatures.less";
	@import "button.less";
	@import "principes.less";
	@import "footer.less";
	@import "form.less";

/* BOOTSTRAP */
	@import "login.less";

/* FONTS */
	@import 'https://fonts.googleapis.com/css?family=Pacifico';
	@import 'https://fonts.googleapis.com/css?family=Ubuntu';

/* Déclarations Couleurs : */
	@blue: #3e5164;
	@orange: #ef974d;
	@yellow: #ffd591;
	@pink: #f18693;
	@green: #4bb5aa;
	@black: #000000;
	@white: #ffffff;

/* Déclarations Fonts */
	.pacifico {
		font-family: 'Pacifico', cursive;
	} 
	.ubuntu {
		font-family: 'Ubuntu', sans-serif;
	}

/* Style */
	.stylenone {
		list-style: none;
		text-decoration: none;
		color: @white;
		&:hover { 
			list-style: none;
			text-decoration: none;
			color: @white;
		}
	}
	.center {
		text-align: center;
		margin: auto; padding: auto;
		vertical-align: middle;
	}

html {
	margin: auto;
	height: 100%; width: 100%;
}
body {
	width: 100%; heigth: 100%;
	margin: auto;
	text-align: center;
	display: flex; flex-direction: column;
	justify-content: center;
	.ubuntu;
}
.container, .content{
	width: 100%; height: 100%;
}
.titres {
	color: @green;
	.pacifico;
}

.visibilite {
	font-style: italic;
	font-weight: bold;
}


/* PAGE ACCUEIL */
	header {
		background-color: @green;
		height: 500px;
	}
	header .bienvenue {
		position: relative;
		top: 300px;
		.pacifico;
		color: @white;
		font-size: 3em;
	}
	h2.bandeau {
		background-color: @blue;
		padding: 2%;
		margin-top: 1em;
		margin-bottom: 0;
	}
	#titre_bd_terminees {
		color: @orange;
	}
	section.bd_terminees p {
		color : @green;
	}
	div.legendes {
		width: 70%;
		padding: 20px 0px; margin: auto;
		display: flex; flex-direction: row;
		justify-content: space-around;
		background-color: @white;
	}
	div.etats_case {
		text-align: left;
		width: 500px;
	}
	div.legendes_text {
		width: 350px;
		position: relative;
		left: 90px; bottom: 90px;
	}
	.fanion {
		display: inline-block;
		height: 0; width: 0;
		border-right:100px solid transparent;
	}
	.vide {
		border-top: 100px solid @green;
	}
	.reserve {
		border-top: 100px solid @orange;
	}