@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
div#menu,
.menu-bandeau {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 1280px;
  height: 50px;
  background: #3e5164;
  z-index: 1;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.menu-bandeau li {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  width: 14.06%;
  height: 100%;
}
.menu-bandeau li:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.menu-bandeau li:hover {
  border-bottom: 2px solid #4bb5aa;
  position: relative;
  top: -1px;
  right: 0;
  left: 0;
}
.menu-bandeau a {
  color: #ffffff;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding: 12px 0;
}
.menu-bandeau a:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.menu-bandeau a:hover:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.contener_bd {
  width: 210px;
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 0;
}
.description {
  text-align: left;
  position: relative;
}
.description span,
.description p {
  color: #4bb5aa !important;
}
a.boutonLire {
  display: inline-block;
  position: relative;
  bottom: 200px;
  background-color: #000000;
  width: 150px;
  height: 100px;
  opacity: 0;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  margin: -100px;
}
a.boutonLire:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
a.boutonLire:hover {
  opacity: 0.8;
}
div#terminee img {
  border: 5px solid #ef974d;
}
div.indications {
  display: grid;
  grid-template-columns: repeat(2,auto);
  width: 70%;
  padding: 20px 0px;
  margin: 0 15%;
  background-color: #ffffff;
}
div.etats_case {
  text-align: left;
  width: 70%;
}
div.legendes_text {
  width: 100%;
  position: relative;
  bottom: 70px;
  left: 60px;
}
.fanion {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 100px solid transparent;
}
span.fanion {
  position: relative;
  right: 49px;
  top: 100px;
}
#vide {
  border-top: 100px solid #4bb5aa;
}
#reserve {
  border-top: 100px solid #ef974d;
}
<<<<<<< HEAD
#footer {
  display: inline-block;
  width: 100%;
  height: 300px;
  background: #ffffff;
  padding: 30px 0px;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#footer footer {
  display: inline-block;
  min-height: 100%;
  color: #3e5164;
=======
.comment {
  display: block;
}
footer {
  width: 100%;
  background-color: #ffffff;
  margin-top: 1em;
  position: fixed;
  bottom: 0px;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
>>>>>>> parent of b59ca4a... update 27/04
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #000000;
}
footer a:hover {
  font-weight: bold;
}
.modal {
  z-index: 1041;
}
.modal-content {
  font-family: 'Ubuntu', sans-serif;
  padding: 30px;
  margin: 0 auto;
  max-width: 350px;
  width: 100% !important;
  background: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  overflow: hidden;
}
.modal-title {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  color: #3e5164;
  font-size: 1.8em;
}
.modal-body input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  background: #4bb5aa;
  position: relative;
}
.modal-content input[type=text],
input[type=password] {
  height: 3.8em;
  font-size: 1em;
  width: 100%;
  padding: 0 8px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  color: #3e5164;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.modal-content input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.modal-submit {
  border: 0px;
  color: #ffffff;
  background: #4bb5aa;
  padding: 17px 0px;
  font-size: 1.2em;
}
.modal-footer a {
  display: inline !important;
  font-size: 1em;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  color: #3e5164 !important;
  opacity: 0.6;
  font-weight: 400;
  padding: 0 5% !important;
}
.modal-footer a:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.modal-footer a:hover {
  color: #3e5164 !important;
  opacity: 1;
}
<<<<<<< HEAD
.boutons {
=======
div.dropdown,
button.dropdown-toggle {
  display: inline-block;
>>>>>>> parent of b59ca4a... update 27/04
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  display: inline-block;
  width: 10%;
  height: 50px;
  background: #4bb5aa;
  border: #4bb5aa;
<<<<<<< HEAD
  padding: 12px 0px;
}
.boutons a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.boutons a:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.boutons:hover {
  font-weight: bold;
}
.bouton_connexion {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: #4bb5aa;
  border: #4bb5aa;
}
.index {
  background: #ffffff;
  width: 1280px;
}
.index .encart {
  background: #4bb5aa;
  height: 500px;
  z-index: 0;
}
.index .encart .bienvenue {
  position: relative;
  top: 300px;
  color: #ffffff;
=======
  width: 100%;
  height: 100%;
}
div.dropdown-menu {
  padding: 5%;
}
a.dropdown-item {
  color: #3e5164 !important;
  opacity: 0.6;
  text-align: right;
}
a.dropdown-item:hover {
  opacity: 1;
}
.pacifico {
>>>>>>> parent of b59ca4a... update 27/04
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}
.index .lidee {
  width: 1280px;
  height: 200px;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.index .lidee h2 {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
}
<<<<<<< HEAD
.index h2.bandeau {
  background-color: #3e5164;
  padding: 2%;
  margin-top: 0;
=======
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
div.container {
  font-family: 'Ubuntu', sans-serif;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
>>>>>>> parent of b59ca4a... update 27/04
}
.index p {
  font-size: 1.2em;
}
<<<<<<< HEAD
.index .terminees h2 {
  color: #ef974d;
  font-family: 'Pacifico', cursive;
}
.index .terminees p {
  color: #f18693;
}
.index .encours h2 {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
}
.index .miniature {
  display: grid;
  grid-template-columns: repeat(3,300px);
  grid-gap: 20px;
  padding: 50px 190px;
}
.index .miniature h3 {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
=======
.boutons {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  display: inline-block;
  width: 10%;
  height: 50px;
  background: #4bb5aa;
  border: #4bb5aa;
  padding: 12px 0px;
}
.boutons a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.boutons a:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.boutons:hover {
  font-weight: bold;
}
.bouton_connexion {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: #4bb5aa;
  border: #4bb5aa;
}
.encart {
  background: #4bb5aa;
  height: 500px;
  z-index: 0;
}
.encart .bienvenue {
  position: relative;
  top: 300px;
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 3em;
}
div.lidee {
  width: 100%;
}
h2.bandeau {
  background-color: #3e5164;
  padding: 2%;
  margin-top: 1em;
  margin-bottom: 0;
}
#titre_bd_terminees {
  color: #ef974d;
}
section.bd_terminees p {
  color: #f18693;
}
div.miniature {
  display: grid;
  grid-template-columns: repeat(3,300px);
  grid-gap: 20px;
  margin: 2% 20%;
}
form#registerForm {
  display: inline-block;
  text-align: left;
  width: 100%;
>>>>>>> parent of b59ca4a... update 27/04
}
#creation_bd {
  font-family: 'Ubuntu', sans-serif;
  background-color: #3e5164;
  opacity: 1;
}
#creation_bd .unlog p.erreurConnect {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding-top: 80px;
  font-size: 1.2em;
}
#creation_bd .unlog button {
  width: 12%;
  height: 50px;
  margin: 2% 44%;
  color: #3e5164;
}
#creation_bd .unlog button:hover {
  font-weight: bold;
}
#createForm {
  padding-top: 60px;
  background: rgba(0,0,0,0.1);
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#createForm h2 {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}
#createForm .numero {
  display: inline-block;
  position: relative;
  right: 4%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.5em;
  border: 2px solid #f18693;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: rgba(0,0,0,0.1);
}
#createForm #choixtitre,
#createForm #choixdroit,
#createForm #choixtemps,
#createForm #choixpage {
  padding: 2%;
}
#createForm #choixdroit,
#createForm #choixpage {
  background: #3e5164;
}
#createForm #choixtitre label {
  padding: 1em;
}
#createForm #choixtitre label,
#createForm #choixtitre input {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#createForm #choixtitre span,
#createForm #choixtitre input {
  font-weight: 100;
}
#createForm #choixtitre input {
  font-family: 'Pacifico', cursive;
  color: #3e5164;
  font-size: 1.4em;
  margin: 0.5em;
}
#createForm #choixdroit {
  position: relative;
}
#createForm #choixdroit #includechoix {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#createForm #choixdroit .choix {
  width: 20%;
}
#createForm #choixdroit .choix label {
  height: 100%;
}
#createForm #choixdroit .choix label h4 {
  margin: 0;
  padding: 0.3em;
}
#createForm #choixdroit .choix label h4.privee {
  background: #f18693;
}
#createForm #choixdroit .choix label h4.tous {
  background: #4bb5aa;
}
#createForm #choixdroit .choix label h4.potes {
  background: #ffd591;
}
#createForm #choixdroit .choix label p {
  background: #ffffff;
  color: #3e5164;
  font-weight: 100;
  height: 70%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding: 0.4em;
}
#createForm #choixdroit .choix label span.visibilite {
  font-weight: bold;
  font-style: italic;
}
#createForm #choixdroit .choix input {
  position: relative;
  bottom: 8%;
}
<<<<<<< HEAD
#createForm #choixtemps {
  background-color: #3e5164;
  padding: 0;
}
#createForm #choixtemps label {
  background: rgba(0,0,0,0.1);
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 2% 0%;
}
#createForm #choixtemps p {
  text-align: left;
  font-weight: 100;
  width: 60%;
  margin-left: 20%;
}
#createForm .slidecontainer {
  padding: 20px;
  width: 60%;
  margin: 0% 20%;
}
#createForm .slidecontainer div#outputduree {
  display: inline-block;
  color: #ffffff;
}
#createForm .slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 18px 0;
  border-radius: 5px;
  background: transparent;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#createForm .slider:focus {
  outline: none;
}
#createForm .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #4bb5aa;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
#createForm .slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #000000;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #3e5164;
}
#createForm .slider:focus::-webkit-slider-runnable-track {
  background: #4bb5aa;
}
#createForm *
		.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 1px solid #4bb5aa;
  border-radius: 50%;
  background: #ffffff;
  opacity: 1;
  cursor: pointer;
}
#createForm .slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  ursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #000000;
  background: #000000;
  opacity: 0.1;
  border-radius: 1.3px;
  border: 0.2px solid #000000;
}
#createForm .slider::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#createForm .slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
#createForm .slider::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #000000;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #000000;
}
#createForm .slider:focus::-ms-fill-lower {
  background: #3071a9;
}
#createForm .slider::-ms-fill-upper {
  background: #4bb5aa;
  border: 0.2px solid #000000;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #000000;
}
#createForm .slider:focus::-ms-fill-upper {
  background: #4bb5aa;
}
#choixpotes {
=======
#createForm #choixpotes {
>>>>>>> parent of b59ca4a... update 27/04
  display: inline-block;
  background: rgba(0,0,0,0.2);
  padding: 2% 0%;
}
#createForm #choixpotes label {
  width: 100%;
}
#createForm #choixpotes .consignes {
  display: inline-block;
  text-align: left;
  widht: 100%;
  padding: 2% 0%;
}
#createForm #choixpotes .consignes h4 {
  font-size: 1.4em;
}
#createForm #choixpotes .consignes p {
  font-weight: 100;
  font-size: 1.2em;
}
#createForm #choixpotes .consignes span {
  position: absolute;
  left: -400px;
}
#createForm #choixpotes input {
  margin: 1% 0%;
  padding: 0.4em;
  width: 40%;
  color: #3e5164;
  font-size: 1.1em;
}
#createForm #choixpotes .checkbox {
  display: inline-block;
}
form#searchForm {
  padding-top: 100px;
  width: 100%;
  background: #3e5164;
}
form#searchForm h2 {
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding: 1%;
}
#box {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#box label {
  background: none;
  color: #4bb5aa;
}
#box input {
  width: 60%;
}
#filtres {
  text-align: left;
  position: relative;
  left: 70%;
}
#filtres label {
  background: none;
  color: #ffffff;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#filtres input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
#filtres span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #4bb5aa;
}
#filtres label:hover input ~ span.checkmark {
  opacity: 0.8;
}
#filtres label input:checked ~ span.checkmark {
  background-color: #ef974d;
}
#results {
  width: 60%;
  margin: 0% 20%;
  padding-top: 5%;
}
#results div.tri {
  width: 28%;
  display: block;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#results div.tri p {
  font-weight: bold;
}
#results div.tri span.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #4bb5aa;
}
#results span.nbresults {
  position: absolute;
  top: 540px;
  right: 20%;
}
#results #liste_rechercher {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(3,300px);
}
#results #liste_rechercher .fanion,
#results #liste_rechercher .boutonLire {
  display: none;
}
#content_user {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#content_user img {
  border-radius: 100px;
}
#content_user h3 {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
}
#content_user p {
  display: none;
}
.explorer {
  width: 1280px;
  height: 100%;
  position: relative;
}
.explorer #searchForm {
  padding-top: 100px;
  width: 1280px;
  height: 350px;
}
.explorer #searchForm h2 {
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding: 10px;
}
.explorer #searchForm h2,
.explorer #searchForm #box input {
  width: 810px;
}
.explorer #searchForm #box {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.explorer #searchForm #box label {
  background: none;
  color: #4bb5aa;
}
.explorer #searchForm #filtres {
  width: 810px;
  height: 200px;
  margin: 20px 240px;
}
.explorer #searchForm #filtres label {
  background: none;
  float: left;
  color: #ffffff;
  width: 200px;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.explorer #searchForm #filtres input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.explorer #searchForm #filtres span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ef974d;
}
.explorer #searchForm #filtres label:hover input ~ span.checkmark {
  opacity: 0.8;
}
.explorer #searchForm #filtres label input:checked ~ span.checkmark {
  background-color: #4bb5aa;
}
.explorer #results {
  background: #ffffff;
  width: 1000px;
  height: 100%;
  padding: 10px;
  position: relative;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.explorer #results .tri {
  width: 28%;
  display: block;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.explorer #results .tri p {
  font-weight: bold;
}
.explorer #results .tri span.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #4bb5aa;
}
.explorer #results span.nbresults {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.explorer #results #liste_rechercher {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(3,300px);
}
.explorer #results #liste_rechercher .fanion,
.explorer #results #liste_rechercher .boutonLire {
  display: none;
}
.principes {
  display: inline-block;
  background: #ffffff;
  padding: 100px;
  width: 100%;
}
.principes h2 {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  padding: 40px;
}
.principes p,
.principes li {
  font-size: 1.2em;
  color: #3e5164;
}
.principes li {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  color: #3e5164;
}
.principes li:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.principes li:hover {
  color: #3e5164;
}
.principes section {
  padding-top: 50px;
}
.comment {
  width: 650px;
}
.comment div {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
}
.comment div img {
  position: absolute;
  top: 25px;
}
.comment div .left {
  left: 0;
}
.comment div .right {
  right: 0;
}
.comment div p {
  width: auto;
  height: 50px;
  position: absolute;
  top: 50px;
  padding: 12px 10px;
}
div.dropdown,
button.dropdown-toggle {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  background: #4bb5aa;
  border: #4bb5aa;
  width: 100%;
  height: 100%;
}
div.dropdown-menu {
  padding: 5%;
}
a.dropdown-item {
  color: #3e5164 !important;
  opacity: 0.6;
  text-align: right;
}
a.dropdown-item:hover {
  opacity: 1;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.stylenone {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.stylenone:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.center {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.zeromarges {
  margin: 0 !important;
  padding: 0 !important;
}
.titreVert {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
}
.titreBlanc {
  color: #ffffff;
  font-family: 'Pacifico', cursive;
}
.titreOrange {
  color: #ef974d;
  font-family: 'Pacifico', cursive;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  min-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Ubuntu', sans-serif;
  background: #3e5164;
}
#container {
  width: 1280px;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
section {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding: 50px 0px;
}
img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
#content_user {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#content_user h3 {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
}
#content_user p {
  display: none;
}
form#registerForm {
  display: inline-block;
  text-align: left;
  width: 100%;
}
