@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
div#menu,
.menu-bandeau {
  position: fixed;
  top: 0%;
  bottom: 100%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 50px;
  background: #3e5164;
  font-family: 'Ubuntu', sans-serif;
  z-index: 1;
  text-align: center;
}
.menu-bandeau li {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  width: 12%;
  height: 100%;
}
.menu-bandeau li:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.menu-bandeau li:hover {
  border-bottom: 2px solid #4bb5aa;
  position: relative;
  top: -1px;
  right: 0px;
  left: 0px;
}
.menu-bandeau a {
  color: #ffffff;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding: 12px 0px;
}
.menu-bandeau a:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.menu-bandeau a:hover:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
div.contener_bd {
  width: 210px;
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 0;
}
div.description {
  color: #4bb5aa;
  text-align: left;
  position: relative;
}
a.boutonLire {
  display: inline-block;
  position: relative;
  bottom: 200px;
  background-color: #000000;
  width: 150px;
  height: 100px;
  opacity: 0;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  margin: -100px;
}
a.boutonLire:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
a.boutonLire:hover {
  opacity: 0.8;
}
div#terminee img {
  border: 5px solid #ef974d;
}
div.indications {
  display: grid;
  grid-template-columns: repeat(2,auto);
  width: 70%;
  padding: 20px 0px;
  margin: 0 15%;
  background-color: #ffffff;
}
div.etats_case {
  text-align: left;
  width: 70%;
}
div.legendes_text {
  width: 100%;
  position: relative;
  bottom: 70px;
  left: 60px;
}
.fanion {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 100px solid transparent;
}
span.fanion {
  position: relative;
  right: 49px;
  top: 100px;
}
#vide {
  border-top: 100px solid #4bb5aa;
}
#reserve {
  border-top: 100px solid #ef974d;
}
.comment {
  display: block;
}
footer {
  width: 100%;
  background-color: #ffffff;
  margin-top: 1em;
  position: fixed;
  bottom: 0px;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #000000;
}
footer a:hover {
  font-weight: bold;
}
.modal {
  z-index: 1041;
}
.modal-content {
  font-family: 'Ubuntu', sans-serif;
  padding: 30px;
  margin: 0 auto;
  max-width: 350px;
  width: 100% !important;
  background: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  overflow: hidden;
}
.modal-title {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  color: #3e5164;
  font-size: 1.8em;
}
.modal-body input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  background: #4bb5aa;
  position: relative;
}
.modal-content input[type=text],
input[type=password] {
  height: 3.8em;
  font-size: 1em;
  width: 100%;
  padding: 0 8px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  color: #3e5164;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.modal-content input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.modal-submit {
  border: 0px;
  color: #ffffff;
  background: #4bb5aa;
  padding: 17px 0px;
  font-size: 1.2em;
}
.modal-footer a {
  display: inline !important;
  font-size: 1em;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  color: #3e5164 !important;
  opacity: 0.6;
  font-weight: 400;
  padding: 0 5% !important;
}
.modal-footer a:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.modal-footer a:hover {
  color: #3e5164 !important;
  opacity: 1;
}
div.dropdown,
button.dropdown-toggle {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  background: #4bb5aa;
  border: #4bb5aa;
  width: 100%;
  height: 100%;
}
div.dropdown-menu {
  padding: 5%;
}
a.dropdown-item {
  color: #3e5164 !important;
  opacity: 0.6;
  text-align: right;
}
a.dropdown-item:hover {
  opacity: 1;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.stylenone {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.stylenone:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.center {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.zeromarges {
  margin: 0 !important;
  padding: 0 !important;
}
.titres {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
div.container {
  font-family: 'Ubuntu', sans-serif;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
section {
  width: 100% !important;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.boutons {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  display: inline-block;
  width: 10%;
  height: 50px;
  background: #4bb5aa;
  border: #4bb5aa;
  padding: 12px 0px;
}
.boutons a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
.boutons a:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.boutons:hover {
  font-weight: bold;
}
.bouton_connexion {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: #4bb5aa;
  border: #4bb5aa;
}
.encart {
  background: #4bb5aa;
  height: 500px;
  z-index: 0;
}
.encart .bienvenue {
  position: relative;
  top: 300px;
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 3em;
}
div.lidee {
  width: 100%;
}
h2.bandeau {
  background-color: #3e5164;
  padding: 2%;
  margin-top: 1em;
  margin-bottom: 0;
}
#titre_bd_terminees {
  color: #ef974d;
}
section.bd_terminees p {
  color: #f18693;
}
div.miniature {
  display: grid;
  grid-template-columns: repeat(3,300px);
  grid-gap: 20px;
  margin: 2% 20%;
}
form#registerForm {
  display: inline-block;
  text-align: left;
  width: 100%;
}
#creation_bd {
  font-family: 'Ubuntu', sans-serif;
  background-color: #3e5164;
  opacity: 1;
}
#creation_bd .unlog p.erreurConnect {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding-top: 80px;
  font-size: 1.2em;
}
#creation_bd .unlog button {
  width: 12%;
  height: 50px;
  margin: 2% 44%;
  color: #3e5164;
}
#creation_bd .unlog button:hover {
  font-weight: bold;
}
#createForm {
  padding-top: 60px;
  background: rgba(0,0,0,0.1);
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#createForm h2 {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}
#createForm .numero {
  display: inline-block;
  position: relative;
  right: 4%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.5em;
  border: 2px solid #f18693;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: rgba(0,0,0,0.1);
}
#createForm #choixtitre,
#createForm #choixdroit,
#createForm #choixtemps,
#createForm #choixpage {
  padding: 2%;
}
#createForm #choixdroit,
#createForm #choixpage {
  background: #3e5164;
}
#createForm #choixtitre label {
  padding: 1em;
}
#createForm #choixtitre label,
#createForm #choixtitre input {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#createForm #choixtitre span,
#createForm #choixtitre input {
  font-weight: 100;
}
#createForm #choixtitre input {
  font-family: 'Pacifico', cursive;
  color: #3e5164;
  font-size: 1.4em;
  margin: 0.5em;
}
#createForm #choixdroit {
  position: relative;
}
#createForm #choixdroit #includechoix {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#createForm #choixdroit .choix {
  width: 20%;
}
#createForm #choixdroit .choix label {
  height: 100%;
}
#createForm #choixdroit .choix label h4 {
  margin: 0;
  padding: 0.3em;
}
#createForm #choixdroit .choix label h4.privee {
  background: #f18693;
}
#createForm #choixdroit .choix label h4.tous {
  background: #4bb5aa;
}
#createForm #choixdroit .choix label h4.potes {
  background: #ffd591;
}
#createForm #choixdroit .choix label p {
  background: #ffffff;
  color: #3e5164;
  font-weight: 100;
  height: 70%;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding: 0.4em;
}
#createForm #choixdroit .choix label span.visibilite {
  font-weight: bold;
  font-style: italic;
}
#createForm #choixdroit .choix input {
  position: relative;
  bottom: 8%;
}
#createForm #choixpotes {
  display: inline-block;
  background: rgba(0,0,0,0.2);
  padding: 2% 0%;
}
#createForm #choixpotes label {
  width: 100%;
}
#createForm #choixpotes .consignes {
  display: inline-block;
  text-align: left;
  widht: 100%;
  padding: 2% 0%;
}
#createForm #choixpotes .consignes h4 {
  font-size: 1.4em;
}
#createForm #choixpotes .consignes p {
  font-weight: 100;
  font-size: 1.2em;
}
#createForm #choixpotes .consignes span {
  position: absolute;
  left: -400px;
}
#createForm #choixpotes input {
  margin: 1% 0%;
  padding: 0.4em;
  width: 40%;
  color: #3e5164;
  font-size: 1.1em;
}
#createForm #choixpotes .checkbox {
  display: inline-block;
}
form#searchForm {
  padding-top: 100px;
  width: 100%;
  background: #3e5164;
}
form#searchForm h2 {
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  padding: 1%;
}
#box {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#box label {
  background: none;
  color: #4bb5aa;
}
#box input {
  width: 60%;
}
#filtres {
  text-align: left;
  position: relative;
  left: 70%;
}
#filtres label {
  background: none;
  color: #ffffff;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#filtres input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
#filtres span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #4bb5aa;
}
#filtres label:hover input ~ span.checkmark {
  opacity: 0.8;
}
#filtres label input:checked ~ span.checkmark {
  background-color: #ef974d;
}
#results {
  width: 60%;
  margin: 0% 20%;
  padding-top: 5%;
}
#results div.tri {
  width: 28%;
  display: block;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#results div.tri p {
  font-weight: bold;
}
#results div.tri span.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #4bb5aa;
}
#results span.nbresults {
  position: absolute;
  top: 540px;
  right: 20%;
}
#results #liste_rechercher {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(3,300px);
}
#results #liste_rechercher .fanion,
#results #liste_rechercher .boutonLire {
  display: none;
}
#content_user {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#content_user img {
  border-radius: 100px;
}
#content_user h3 {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
}
#content_user p {
  display: none;
}
