button.boutons{
	display: block;
	text-align: center;
	margin: auto;
	text-decoration: none;
	background-color: #4bb5aa;
	padding: 1% 1%;
	border: none;
}
button.boutons a{
	text-decoration: none;
	color: rgba(255,255,255,1);
}
button.boutons:hover {
	font-weight: bold;
}
