div.boutons{
	display: block;
	width: 150px; height: 50px;
	text-align: center;
	margin: auto;
	text-decoration: none;
	background-color: #4bb5aa;
	padding: 1% 1%;
	border: none;
}
div.boutons a{
	text-decoration: none;
	color: rgba(255,255,255,1);
}
div.boutons:hover {
	text-decoration: none;
	font-weight: bold;
}
/*** Bouton connexion ***/
div#bouton_connexion {
  height: 50px;
  margin: auto;
 }