/* FOOTER */
footer {
	width: 100%;
	background-color: rgba(0,0,0,0.1);
	margin-top: 1em;
}
footer ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
}
footer li {
	list-style: none;
}
footer a {
	text-decoration: none;
	color: rgba(0,0,0,1);
}
footer a:hover {
	font-weight: bold;
}