/* MENU */
div#menu {
	background-color: #3e5164;
	text-align: center;
	vertical-align: middle;
	font-family: 'Ubuntu', sans-serif;
	height: 50px;
}
nav ul li {
	display: inline-flex;
	flex-direction: row;
	list-style: none;
	vertical-align: middle;
	padding: 0% 2%; padding-top: 15px;
	height: 50px;
}
nav a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}
nav a:hover {
	text-decoration: none;
	color: rgba(255,255,255,1);
	border-bottom: 0.2em solid #4bb5aa;
}
/* Codes Couleurs :
	Bleu: #3e5164
	Orange: #ef974d
	Jaune: #ffd591
	Rose: #f18693
	Vert: #4bb5aa
*/