/* CASCADES */
	@import url("menu_style.css");
	@import url("dropdown.css");
	@import url("miniatures.css");
	@import url("button.css");
	@import url("principes.css");
	@import url("footer.css");
/* FONTS */
	@import url('https://fonts.googleapis.com/css?family=Pacifico');
	@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
	margin: auto;
	height: 100%; width: 100%;
}
body {
	width: 100%;
	margin: auto;
	text-align: center;
	display: flex; flex-direction: column;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
}
.encart {
	background-color: #4bb5aa;
	height: 20em;
}
/* TEXT */
	.content {
		font-family: 'Ubuntu', sans-serif;
	}
	.visibilite {
		font-style: italic;
		font-weight: bold;
	}
	h2.titres {
		color: #4bb5aa;
		font-family: 'Pacifico', cursive;
	}
/* PAGE ACCUEIL */
	h2.bandeau {
		background-color: #3e5164;
		padding: 2%;
		margin-top: 1em;
		margin-bottom: 0;
	}
	#titre_bd_terminees {
		color: #ef974d;
	}
	section.bd_terminees p {
		color : #4bb5aa;
	}
	div.legendes {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: auto;
		height: 100%;
		background-color: rgba(0,0,0,0.1);
	}
	div.bloc_case {
		width: 30%;
	}
	div.etats_case {
		padding: 2%; margin: auto;	
		text-align: left;
		width: 80%; height: 90%;
		float: right;
	}