.ajoutcase {
	background: @white;
	padding: 20px;

	.titre {
		.titreBleu;
		padding: 20px;
	}

	#templatevide {
		width: 273px; height: 421px;
		text-align: left;
		background: rgba(0,0,0,0.1);
		img {
			position: relative;
			top: 370px;
		}
	}
}