#creation_bd {
	.ubuntu; height: 100%;
	background-color: @blue;
	opacity: 1;
	.unlog {
		p.erreurConnect {
			.center;
			padding-top: 80px;
			font-size: 1.2em;
		}
		button {
			width: 12%; height: 50px;
			margin: 2% 44%;
			color: @blue;
			&:hover {
				font-weight: bold;
			}
		}
	}
}
#createForm {
	padding-top: 60px;
	background: rgba(0,0,0,0.1);
	width: 100%;
	color: @white;
	.center;
	h2 {
		.pacifico;
		color: @white;
		font-size: 2em;
		text-align: center;
	}
	.numero {
		display: inline-block;
		position: relative;
		right: 4%;
		.center;
		font-weight: bold;
		font-size: 1.5em;
		border: 2px solid @pink;
		width: 50px; height: 50px;
		border-radius: 50px;
		background: rgba(0,0,0,0.1);
	}
	#choixtitre, #choixdroit, #choixtemps, #choixpage {
		.zeromarges;
		width: 100%;
	}
	#choixdroit, #choixpage {
		background: @blue;
	}
	#choixtitre {
		label {
			padding: 2%;
		}
		label, input {
			width: 60%;
			.center;
		}
		span, input {
			font-weight: 100;
		}
		input {
			.pacifico;
			color: @blue;
			font-size: 1.4em;
			margin: 0.5em;
		}
	}
	#choixdroit {
		position:relative;
		h3 {
			padding: 2% 0%;
		}
		#includechoix {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 2% 0%;
		}
		.choix {
			width: 20%;
			label {
				height: 100%;
				h4 {
					margin: 0; padding: 0.3em;
				}
				h4.privee {
					background: @pink;
				}
				h4.tous {
					background: @green;
				}
				h4.potes{
					background: @yellow;
				}
				p {
					background: @white;
					color: @blue;
					font-weight: 100;
					height: 70%;
					.center;
					padding: 0.4em;
				}
				span.visibilite {
					font-weight: bold;
					font-style: italic;
				}	
			}
			input {
				position: relative;
				bottom: 8%;
			}
		}
	}
	#choixtemps {
		background-color: @blue;
		padding: 0;
		label {
			background: rgba(0,0,0,0.1);
			display:inline-block;
			width: 100%; height: 100%;
			padding: 2% 0%;
		}
		p {
			text-align: left;
			font-weight: 100;
			width: 60%;
			margin-left: 20%;
		}
	}
	#choixpotes {
		display: inline-block;
		background: rgba(0,0,0,0.2);
		padding: 2% 0%;
		width: 100%;
		margin-top: 100px;
		label {
			width: 100%;
		}
		h4 {
			font-size: 1.4em;
		}
		p {
			font-weight: 100;
			font-size: 1.2em;
		}
		span {
			position: absolute;
			left: -400px;
		}
		input {
			margin: 1% 0%;
			padding: 0.4em;
			width: 40%;
			color: @blue;
			font-size: 1.1em;
		}
		ul.checkbox {
			display:inline-block;
			padding: 0px;
			width: 500px;
			text-align: left;
			vertical-align: middle;
			font-size: 1.3em;
			li {
				cursor: pointer;
			  position: relative;
			  padding: 12px 8px;
			  list-style-type: none;
			  font-size: 1.2em;
			  transition: 0.2s;
			  /* make the list items unselectable */
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;
			  &:hover {
				  background: @blue;
				}
				.close {
					color: white;
					.center;
					width: 56px; height: 56px;
					padding: 10px 8px;
					font-size: 1.5em;
					position: absolute;
					left: 445px;
					top: 0;

				}
				.close:hover {
					background: rgba(0,0,0,0.2);
					color: white;
				}
			}
		}		
	}
}
.valider {
	display: inline-block;
	width: 100%;
	background: @blue;
	.center;
	padding: 5%;
	h2 {
		color: @white;
		padding: 1% 33%;
	}
	button {
		border:none;
		box-shadow: 1px 1px 1px @white;
		width: 35%;
		font-size: 2em;
		padding: 0.2em;
		color: @blue;
		font-weight: bold;
		&:hover {
			border: none;
			box-shadow: 0.5px 0.5px 0.5px @blue;
		}
	}
}