#creation_bd {
	.unlog {
		p.erreurConnect {
			.center;
			padding-top: 80px;
			font-size: 1.2em;
		}
		button {
			width: 12%; height: 50px;
			margin: 2% 44%;
			color: @blue;
			&:hover {
				font-weight: bold;
			}
		}
	}
}
#createForm {
	padding-top: 60px;
	bottom: 300px;
	background: @bluedark;
	width: 1280px;

	color: @white;
	.center;
	h2 {
		.pacifico;
		color: @white;
		font-size: 2em;
		text-align: center;
	}
	.numero {
		display: inline-block;
		position: relative;
		right: 4%;
		.center;
		font-weight: bold;
		font-size: 1.5em;
		border: 2px solid @pink;
		width: 50px; height: 50px;
		border-radius: 50px;
		background: rgba(0,0,0,0.1);
	}
	#choixtitre, #choixdroit, #choixtemps, #choixpage {
		.zeromarges;
		width: 100%;
	}
	#choixdroit, #choixpage {
		background: @blue;
	}
	#choixtitre {
		label {
			padding: 2%;
		}
		label, input {
			width: 60%;
			.center;
		}
		span, input {
			font-weight: 100;
		}
		input {
			.pacifico;
			color: @blue;
			font-size: 1.4em;
			margin: 0.5em;
		}
	}
	#choixdroit {
		position:relative;
		h3 {
			padding: 2% 0%;
		}
		#includechoix {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 2% 0%;
		}
		.choix {
			width: 20%;
			label {
				height: 100%;
				h4 {
					margin: 0; padding: 0.3em;
				}
				h4.privee {
					background: @pink;
				}
				h4.tous {
					background: @green;
				}
				h4.potes{
					background: @yellow;
				}
				p {
					background: @white;
					color: @blue;
					font-weight: 100;
					height: 70%;
					.center;
					padding: 0.4em;
				}
				span.visibilite {
					font-weight: bold;
					font-style: italic;
				}	
			}
			input {
				position: relative;
				bottom: 8%;
			}
		}

	}

	#choixtemps {
		background-color: @blue;
		padding: 0;
		label {
			background: rgba(0,0,0,0.1);
			display:inline-block;
			width: 100%; height: 100%;
			padding: 2% 0%;
		}
		p {
			text-align: left;
			font-weight: 100;
			width: 60%;
			margin-left: 20%;
		}
		.dropdownlist {
	    margin: 0; padding: 0;
	    .center;
	    font-size: 1.2em;
	    width: 250px;

	    select#temps {
				font-size: inherit;
				color: @blue;
				padding: 5px;

				option.duree {
					font-size: 1em;
				}
			}
		}
		@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
			.dropdownlist {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				border: @white;
			}
			#temps {
				width: 250px; height: 2em;
				padding-right: 2.5em;
				border: @white;
				border-radius: 5px;
				/* pour masquer le bouton */
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
			.dropdownlist:before, .dropdownlist:after {
				content: "";
				position: absolute;
				pointer-events: none;
			}
			/* La flèche */
			.dropdownlist:after {
				content: "\25BC";
				color: @blue;
				height: 1.2em;
				font-size: 0.8em;
				line-height: 1;
				right: 1em;
				top: 50%; margin-top: -0.5em;
			}
			.dropdownlist:before {
				width: 2em;
				right: 0; top: 0; bottom: 0;
			}
		}
	}

	#choixpage {
		#textInput {
			background: @blue;
			border: none;
			.center;
			font-size: 1.2em;
		}
		#unepage, #dixpage {
			position : relative;
		}
		#unepage {
			right: 300px; top : 50px;
		}
		#dixpage {
			left: 170px; bottom: 10px;
		}		
		.slidecontainer {
			
			@track-color: rgba(255,255,255,0.2);
			@thumb-color: @white;

			@thumb-radius: 15px;
			@thumb-height: 20px;
			@thumb-width: 20px;
			@thumb-shadow-size: 1px;
			@thumb-shadow-blur: 1px;
			@thumb-shadow-color: #111;
			@thumb-border-width: 1px;
			@thumb-border-color: @green;

			@track-width: 600px;
			@track-height: 10px;
			@track-shadow-size: 1px;
			@track-shadow-blur: 1px;
			@track-shadow-color: @blue;
			@track-border-width: 1px;
			@track-border-color: rgba(0,0,0,0.1);

			@track-radius: 5px;
			@contrast: 5%;

			.shadow(@shadow-size,@shadow-blur,@shadow-color) {
			  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
			}

			.track() {
			  width: @track-width;
			  height: @track-height;
			  cursor: pointer;
			  animate: 0.2s;
			}

			.thumb() {
			  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
			  border: @thumb-border-width solid @thumb-border-color;
			  height: @thumb-height;
			  width: @thumb-width;
			  border-radius: @thumb-radius;
			  background: @thumb-color;
			  cursor: pointer;
			}

			input[type=range] {
			  -webkit-appearance: none;
			  margin: @thumb-height/2 0;
			  width: @track-width;

			  &:focus {
			    outline: none;
			  }

			  &::-webkit-slider-runnable-track {
			    .track();
			    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
			    background: @track-color;
			    border-radius: @track-radius;
			    border: @track-border-width solid @track-border-color;
			  }
			  
			  &::-webkit-slider-thumb {
			    .thumb();
			    -webkit-appearance: none;
			    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
			  }

			  &:focus::-webkit-slider-runnable-track {
			    background: lighten(@track-color, @contrast);
			  }

			  &::-moz-range-track {
			    .track();
			    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
			    background: @track-color;
			    border-radius: @track-radius;
			     border: @track-border-width solid @track-border-color;
			  }
			  &::-moz-range-thumb {
			     .thumb();
			  }

			  &::-ms-track {
			    .track(); 
			    background: transparent;
			    border-color: transparent;
			    border-width: @thumb-width 0;
			    color: transparent;
			  }

			  &::-ms-fill-lower {
			    background: darken(@track-color, @contrast);
			    border: @track-border-width solid @track-border-color;
			    border-radius: @track-radius*2;
			    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
			  }
			  &::-ms-fill-upper {
			    background: @track-color;
			    border: @track-border-width solid @track-border-color;
			    border-radius: @track-radius*2;
			    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
			  }
			  &::-ms-thumb {
			    .thumb();
			  }
			  &:focus::-ms-fill-lower {
			    background: @track-color;
			  }
			  &:focus::-ms-fill-upper {
			    background: lighten(@track-color, @contrast);
			  }
			}
		}
	}

}
.valider {
	display: inline-block;
	width: 100%;
	background: @blue;
	.center;
	padding: 5%;
	h2 {
		color: @white;
		padding: 1% 33%;
	}
	button {
		border:none;
		box-shadow: 1px 1px 1px @white;
		width: 35%;
		font-size: 2em;
		padding: 0.2em;
		color: @blue;
		font-weight: bold;
		&:hover {
			border: none;
			box-shadow: 0.5px 0.5px 0.5px @blue;
		}
	}
}