@import "../css/login.css";
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
div#menu {
  background-color: #3e5164;
  text-align: center;
  vertical-align: middle;
  font-family: 'Ubuntu', sans-serif;
  height: 50px;
}
nav ul li {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  vertical-align: middle;
  padding: 0% 2%;
  padding-top: 15px;
  height: 50px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
}
nav a:hover {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 0.2em solid #4bb5aa;
}
.nav>li>a:hover,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background: #ffffff;
}
.dropdown {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}
.dropdown-menu>li>a {
  color: #428bca;
}
.dropdown ul.dropdown-menu {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: none;
  margin-top: 20px;
  width: 300px;
}
.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}
article h2 {
  color: #4bb5aa;
  background-color: none;
}
article button {
  width: 80%;
  height: 20%;
  opacity: 0;
  background-color: #000000;
  border: none;
  margin-top: 50%;
}
article button a {
  color: #ffffff;
}
article button:hover {
  opacity: 1;
}
div.image {
  width: 9em;
  height: 12em;
  background-color: #3e5164;
  margin: auto;
}
article {
  width: 11em;
  display: inline-block;
}
div.description {
  color: #4bb5aa;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2%;
}
.boutons {
  display: block;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  background-color: #4bb5aa;
  padding: 1% 1%;
  border: none;
}
.boutons a {
  text-decoration: none;
  color: #ffffff;
}
.boutons:hover {
  text-decoration: none;
  font-weight: bold;
}
#bouton_connexion {
  height: 50px;
  margin: auto;
}
.comment {
  display: block;
}
footer {
  width: 100%;
  background-color: #ffffff;
  margin-top: 1em;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #000000;
}
footer a:hover {
  font-weight: bold;
}
form#registerForm {
  display: inline-block;
  text-align: left;
  width: 100%;
}
form span {
  font-size: 12px;
}
abbr {
  text-decoration: none;
}
label {
  background-color: #4bb5aa;
}
html {
  margin: auto;
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}
.encart {
  background-color: #4bb5aa;
  height: 20em;
}
.container,
.content {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}
.visibilite {
  font-style: italic;
  font-weight: bold;
}
h2.titres {
  color: #4bb5aa;
  font-family: 'Pacifico', cursive;
}
h2.bandeau {
  background-color: #3e5164;
  padding: 2%;
  margin-top: 1em;
  margin-bottom: 0;
}
#titre_bd_terminees {
  color: #ef974d;
}
section.bd_terminees p {
  color: #4bb5aa;
}
div.legendes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height: 100%;
  background-color: #ffffff;
}
div.bloc_case {
  width: 30%;
}
div.etats_case {
  padding: 2%;
  margin: auto;
  text-align: left;
  width: 80%;
  height: 90%;
  float: right;
}
